@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {color: 
   #333333;
   font-family: sans-serif;
}

/*ページ*/
#page{
   width: 980px;
   margin: 0 auto;
}

/*グローバルナビ*/
.globalNavi{
  border-top: solid #CCCCCC;
  border-width: 1px 0;
  padding: 10px 0;
}

.globalNavi ul{
   margin: 0;
  padding: 0;
}

.globalNavi ul:after{
   content: "";
   clear: both;
   display: block;
}

.globalNavi ul li{
   list-style: none;
   width: 244px;
   float: left;
   border-left: solid 1px #CCCCCC;
   padding: 0 10px;
   box-sizing: border-box;
   text-align: center;
   font-size: 16px;
   line-height: 1.5
}

.globalNavi ul li:first-child{
   border-left: none;
}

.globalNavi ul li a{
   color: inherit;
   text-decoration: none;
   display: block;
   padding: 5px 0;
}

.globalNavi ul li a:hover,
.globalNavi ul li.current a{
  background-color: #BED1DA;
}

/*ヘッダー*/
h1{
  font-size: 16px; 
  color: navy;
  background-color: #BED1DA;
  margin: 20px 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
h1 strong{
  font-size: 24px;
}

/*余白*/
.articleDetailHead{
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: 30px;}

.articleDetailFoot{
   border-top: solid 1px #CCCCCC;
 
   content:"";
   clear: both;
   display: block;
}

.articleDetailFoot:after{
   content: "";
   clear: both;
   display: block;
}

.articleDetailFoot:before{
   content: "";
   clear: both;
   display: block;
}
/*画像キャプション*/
figcaption{
   font-size: 12px;}




/*ページフッター*/
#copyright small{
    font-size: 12px;
    line-height: 1.5;
}

/*----- トップページの内容 -----*/
/*メインビジュアル*/

.mainVisual{
   position: relative;
}

.mainVisual .mainVisualText{
   position: absolute;
   left: 50px;
   bottom: 50px;
   color: #FFF;
   background-color: rgba(0,0,0,0.3);
   width: 400px;
   padding: 15px 25px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.mainVisual .mainVisualText h2{
   font-size: 24px;
   line-height: 1.231;
   margin: 0;
}

.mainVisual .mainVisualText p{
   font-size: 12px;
   line-height: 1.5;
   margin-bottom: 0;
}

.title2{
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}



/*----- 基本情報のページ -----*/
table{
   fint-size: 14px;
   border: 1px solid #CCCCCC;
   border-collapse: collapse;
}


table th,
table td{
   border: 1px solid #CCCCCC;
   padding: 10px 10px;
   text-align: center;
}

table th{
   background-color: #EEEEEE;
}

.img-right{
  float: right;
}
.img-left{
  float: left;
}

.best{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-left: solid 5px #EEEEEE;
  padding-left: 10px;
}

.season{
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.375;
}

/* ----- 観光場所のページ -----*/
.opera{
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.429;
}

.beach{
  padding-left: 5px;
  font-size: 15px;
  line-height: 1.429;
}

.bondi:after{
   content: "";
   clear: both;
   display: block;
   overflow: hidden;
}
  

.beach article{
   width: 300px;
}

.social{
  padding-left: 10px;
  font-size: 15px;
  line-height: 1.429;
}
